
IDD_FLOPPY DIALOGEX 0, 0, 396, 261
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    GROUPBOX        "Floppy Drives",IDC_SETTINGSTEXT3,1,0,393,163
    CONTROL         "DF0:",IDC_DF0ENABLE,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,7,14,34,15
    PUSHBUTTON      "Delete save image",IDC_SAVEIMAGE0,69,13,78,15,NOT WS_VISIBLE
    COMBOBOX        IDC_DF0TYPE,152,14,65,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    RTEXT           "Write-protected",IDC_STATIC,221,17,74,10,SS_CENTERIMAGE
    CONTROL         "",IDC_DF0WP,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,300,13,10,15
    PUSHBUTTON      "?",IDC_INFO0,323,12,17,15
    PUSHBUTTON      "Eject",IDC_EJECT0,345,12,30,15
    PUSHBUTTON      "...",IDC_DF0,379,12,10,15
    COMBOBOX        IDC_DF0TEXT,6,31,384,75,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    CONTROL         "DF1:",IDC_DF1ENABLE,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,7,51,34,15
    PUSHBUTTON      "Delete save image",IDC_SAVEIMAGE1,69,49,78,15,NOT WS_VISIBLE
    COMBOBOX        IDC_DF1TYPE,152,51,65,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    RTEXT           "Write-protected",IDC_STATIC,221,53,74,10,SS_CENTERIMAGE
    CONTROL         "",IDC_DF1WP,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,300,50,10,15
    PUSHBUTTON      "?",IDC_INFO1,323,49,17,15
    PUSHBUTTON      "Eject",IDC_EJECT1,345,49,30,15
    PUSHBUTTON      "...",IDC_DF1,379,49,10,15
    COMBOBOX        IDC_DF1TEXT,6,68,383,75,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    CONTROL         "DF2:",IDC_DF2ENABLE,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,7,87,34,15
    PUSHBUTTON      "Delete save image",IDC_SAVEIMAGE2,69,85,78,15,NOT WS_VISIBLE
    COMBOBOX        IDC_DF2TYPE,152,87,65,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    RTEXT           "Write-protected",IDC_STATIC,222,88,73,10,SS_CENTERIMAGE
    CONTROL         "",IDC_DF2WP,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,300,86,9,15
    PUSHBUTTON      "?",IDC_INFO2,323,85,17,15
    PUSHBUTTON      "Eject",IDC_EJECT2,345,85,30,15
    PUSHBUTTON      "...",IDC_DF2,379,85,10,15
    COMBOBOX        IDC_DF2TEXT,6,104,384,75,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    CONTROL         "DF3:",IDC_DF3ENABLE,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,7,123,34,15
    PUSHBUTTON      "Delete save image",IDC_SAVEIMAGE3,69,121,78,15,NOT WS_VISIBLE
    COMBOBOX        IDC_DF3TYPE,152,123,65,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    RTEXT           "Write-protected",IDC_STATIC,222,125,73,10,SS_CENTERIMAGE
    CONTROL         "",IDC_DF3WP,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,300,123,9,15
    PUSHBUTTON      "?",IDC_INFO3,323,122,17,15
    PUSHBUTTON      "Eject",IDC_EJECT3,345,121,30,15
    PUSHBUTTON      "...",IDC_DF3,379,121,10,15
    COMBOBOX        IDC_DF3TEXT,6,140,383,75,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Floppy Drive Emulation Speed",IDC_SETTINGSTEXT2,1,170,393,35
    CONTROL         "",IDC_FLOPPYSPD,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOP | WS_TABSTOP,71,180,116,20
;    EDITTEXT        IDC_FLOPPYSPDTEXT,222,183,101,12,ES_CENTER | ES_READONLY
    GROUPBOX        "New Floppy Disk Image",IDC_SETTINGSTEXT,1,211,393,49
    COMBOBOX        IDC_FLOPPYTYPE,58,225,64,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Create Standard Disk [] Creates a standard 880 or 1760 KB ADF disk image.",IDC_CREATE,130,224,97,15
    PUSHBUTTON      "Create Custom Disk [] Creates a low level (MFM) ADF disk image (about 2MB). Useful for programs that use non-standard disk formats (for example some save disks or DOS-formatted floppies)",IDC_CREATE_RAW,235,224,101,15
    RTEXT           "Disk label:",IDC_STATIC,60,244,58,10,SS_CENTERIMAGE
;    EDITTEXT        IDC_CREATE_NAME,130,243,97,13,ES_AUTOHSCROLL
    CONTROL         "Bootblock",IDC_FLOPPY_BOOTABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,235,242,59,15
    CONTROL         "FFS",IDC_FLOPPY_FFS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,300,242,34,15
END

