IDD_FLOPPY DIALOGEX 0, 0, 396, 303
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "System ROMs:",IDC_PATHS_ROML,3,2,260,8,SS_CENTERIMAGE
    EDITTEXT        IDC_PATHS_ROM,3,13,377,15,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_PATHS_ROMS,384,13,11,15
    LTEXT           "Configuration files:",IDC_PATHS_CONFIGL,3,32,164,8,SS_CENTERIMAGE
    CONTROL         "Cache Configuration files",IDC_PATHS_CONFIGCACHE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,177,31,197,11
    EDITTEXT        IDC_PATHS_CONFIG,3,44,377,15,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_PATHS_CONFIGS,384,43,11,15
    LTEXT           "Screenshots:",IDC_PATHS_SCREENSHOTL,3,62,260,8,SS_CENTERIMAGE
    EDITTEXT        IDC_PATHS_SCREENSHOT,3,73,377,15,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_PATHS_SCREENSHOTS,384,72,11,15
    LTEXT           "State files:",IDC_PATHS_STATEFILEL,3,91,260,8,SS_CENTERIMAGE
    EDITTEXT        IDC_PATHS_SAVESTATE,3,102,377,15,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_PATHS_SAVESTATES,384,101,11,15
    LTEXT           "Videos:",IDC_PATHS_AVIOUTPUTL,3,120,260,8,SS_CENTERIMAGE
    EDITTEXT        IDC_PATHS_AVIOUTPUT,3,131,377,15,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_PATHS_AVIOUTPUTS,384,130,11,15
    LTEXT           "Saveimages:",IDC_PATHS_SAVEIMAGEL,3,149,260,8,SS_CENTERIMAGE
    EDITTEXT        IDC_PATHS_SAVEIMAGE,3,161,377,15,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_PATHS_SAVEIMAGES,384,160,11,15
    LTEXT           "Rips:",IDC_PATHS_RIPSL,3,179,260,8,SS_CENTERIMAGE
    EDITTEXT        IDC_PATHS_RIP,3,190,377,15,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_PATHS_RIPS,383,189,11,15
    PUSHBUTTON      "Reset to defaults",IDC_PATHS_DEFAULT,2,212,92,14
    PUSHBUTTON      "Rescan ROMs",IDC_ROM_RESCAN,2,229,92,14
    PUSHBUTTON      "Clear disk history",IDC_RESETDISKHISTORY,99,229,92,14
    COMBOBOX        IDC_PATHS_DEFAULTTYPE,99,213,163,150,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Clear registry",IDC_RESETREGISTRY,302,212,92,14
    CONTROL         "Use relative paths",IDC_PATHS_RELATIVE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,199,231,189,11
    GROUPBOX        "Debug logging",IDC_STATIC,1,248,393,53
    EDITTEXT        IDC_LOGPATH,7,281,324,13,ES_READONLY
    PUSHBUTTON      "Open [] Open selected file.",IDC_LOGOPEN,337,280,51,14
    COMBOBOX        IDC_LOGSELECT,7,263,137,150,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Enable full logging",IDC_LOGENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,151,264,93,12
    PUSHBUTTON      "Save All [] Save and open both logs and config file.",IDC_LOGSAVE,337,264,51,14
    CONTROL         "Log window",IDC_LOGENABLE2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,254,264,68,12
END

